<div class="comment-list">
	<% @comments = post.comments.all.reverse %>
	<% if @comments.present? %>
		<ul>
			<% @comments.each do |comment| %>
				<li class="comment-user">
					<div id="comment-user-<%= comment.id %>">
						<%= render 'comments/display_comment', comment: comment %>
					</div>
				</li>
			<% end %>
		</ul>
	<% else %>
		<p class="tac">コメントなし</p>
	<% end %>
</div>