<%= form_for(post.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
	<label class="unlike">
			<i class="fas fa-heart"></i>
			<%= f.submit "Unlike", style: "display: none;" %>
	</label>
<% end %>