@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

header {

}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  width: auto;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  background-color: aqua;
//   overflow: hidden;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    background-color: aqua;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* container */

.container {
    // width: 1170px;
    // padding: 0 15px;
    // margin: 0 auto;
}

/* show users */

.show-users {
//   width: 720px;
  height: auto;
  margin-top: 10px;
  ul {
    float: left;
    list-style: none;
    li {
        min-width: 500px;
        height: 120px;
        overflow: auto;
        margin: 10px 30px;
        border-bottom: 1px solid $gray-lighter;
        background-color: lightgray;
        border-radius: 10px;
        font-size: 16px;
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
  }
}

.sidebar {
    text-align: center;
    // width: 220px;
    height: auto;
    background-color: #009b9f;
    ul {
        list-style: none;
        li {
            padding-top: 15px;
            height: 50px;
            border-top: solid 1px #000;
        }
    }
}

.circle {
    width:  180px;
    height: 180px;
    border-radius: 50%;
    background-size: 200px;
}