@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #d9d9d9;

/* universal */
* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  background-color: #fff;
}

//jsを中央に揃える（未対応ブラウザあり）
.outer{
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.clear {
  clear: left;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

ul {
  list-style: none;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.tac {
  text-align: center;
}

.margin-center {
  margin: 0 auto;
}


/* header */

header {
  width: 100%;
  height: 40px;
  background-color: black;
  #title {
    padding: 5px 0 0 30px;
    float: left;
    #logo {
      font-size: 1.7em;
      color: white;
      text-transform: uppercase;
      letter-spacing: -1px;
      padding-top: 9px;
      font-weight: bold;
      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
  
  ul{
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: #fff;
  }

  li{
    max-width: 100px;
    font-size: 0.9em;
    position: relative;
    padding: 5px;
    display: block;
    cursor: pointer;
  }

  .new-post{
    max-width: 50px;
  }
  .dropdwn{
    float: right;
    max-width: 100%;
    display: flex;
    padding-right: 15px;
    
    .user-menu-img{
      padding-top: 4px;
      padding-left: 40px;
      img{
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
      }
      i {
        padding-left:5px;
        color: white;
      }
    }
    
    >li{
      width: 200px;
      margin: 1px;
      padding-top: 10px;
      display: inline;
      a{
        color: white;
        &:hover{
          color: gray;
          text-decoration: none;
        }
      }
    }

    .dropdwn_menu{
      clear: both;
      width: 100%;
      display: none;
      position: absolute;
      margin-left: -15px;
      margin-top: 6px;
      border-radius: 6px;
      background-color: $gray-medium-light;
      li{
        width: 100%;

        a{
          padding: 5px 0;
          margin: -3px 0;
          display: block;
          color: black;

          &:hover{
            color: white;
            text-decoration: none;
          }
        }

        #logout-menu{
          &:hover{
            color: red;
          }
        }
      }// li
    }// dorpdwn_menu
  }
}

/* footer */

footer {
  width: auto;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  background-color: aqua;
//   overflow: hidden;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    background-color: aqua;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*  sign up, login, edit  */
.sign_up_box, .login_box, .edit-box, .post-box {
    width: 450px;
    margin: 0 auto;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 0 7px 5px rgba(131, 208, 243, 0.2);
    border-radius: 10px;

    input[type='text'], input[type='email'], input[type='password'] {
      width: 400px;
      margin: 0 auto;
      margin-top: 30px;
      display: block;
      font: 15px/24px sans-serif;
      letter-spacing: 1px;
      color: #0f0f0f;
      border: none;
      border-bottom: 2px solid #aaaaaa;
    }

    input[type='submit'] {
        margin: 0 auto;
        margin-top: 20px;
        display: block;
        // width: 70px;
        font-size: 15px;
    }

    a {
      display: block;
      padding: 20px 0 0 30px;
    }

    textarea {
      margin: 0 auto;
      margin-top: 20px;
      display: block;
      width: 400px;
      height: 100px;
    }

    input:focus {
        outline: none;
    }

    .checkbox-btn{
     padding: 20px 0 0 30px;
    }

    .account-delete-btn {
      padding-top: 20px;
      background-color: inherit;
      color: red;
      border: none;
    }

    .edit-profile_image_btn {
      margin: 0 auto;
      display: table;
      width:  70px;
      height: 40px;
      background-color: rgb(72, 196, 245);
      border-radius: 10px;
      cursor: pointer;

      label {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: white;
      }

      &:hover {
        background-color: rgb(45, 149, 190);
        cursor: pointer;
      }
    }
}

/* show users */

.index-users {
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  max-width: 720px;
  ul {
    li {
      min-width: 500px;
      height: 120px;
      margin: 20px 0;
      border-bottom: 1px solid $gray-lighter;
      background-color: rgb(233, 236, 248);
      border-radius: 10px;
      box-shadow: 6px 6px rgba(185, 187, 192, 0.4);

      /////////////////////////////
      // 　画像を右に寄せるためのCSS //
      div {
        float: left;
        margin-left: 20px;
      }
      .f-r {
        float: right;
      }

      .index-user-img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
        margin: 20px auto;
        display: block;
      }
      .user-name {
        padding-top: 40px;
        font-size: 20px;
      }

      .post-img {
        width: 90px;
        height: 100px;
        margin: 10px auto;
        object-fit: cover;
      }
    }
  }
}

 /* show posts */
.posts-list {
  margin-top: 10px;
  width: 100%;

  .posts-list-ul {
    max-width: 1000px;
    margin: 0 auto;
   
    .posts-list-li {
      float: left;
      max-width: 220px;
      width: 220px;
      height: 200px;
      margin: 10px 0;
      margin-right: 20px;
      border-radius: 20px;
      box-shadow: 0 0 6px gray;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
      }

      i {
        font-size: 15px;
        color: white;
      }
      
      .like-icon{
        display: none; 
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
      }

      .comment-icon{
        display: none;
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%, -50%);
      }
 
      &:hover {
        a {
          img{
            filter: brightness(0.5);
          }

          i {
            display: block;
          }
        }
      }
    }
  }
}

.user-profile {
  margin: 0 auto;
  padding-bottom: 30px;
  border-radius: 20px;
  background-color: #d9f1f1;
  width: 100%;
  max-width: 900px;

  a {
    margin-left:20px; 
  }

  p {
    margin: 0 20px;
    font-size: 20px;
  }

  .div-btn{
    margin: 0 auto;
    width: 110px;
    height: 30px;
    border-radius: 10px;
    p {
      text-align: center;
      font-size: 0.9em;
      padding-top: 4px;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  .follow-btn{
    color: white;
    background-color: rgb(9, 116, 240);
  }
  .unfollow-btn{
    color: black;
    background-color: $gray-medium-light;
  }
}

.user-img {
  text-align: center;
  padding: 30px 0 30px 0;
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.api-login-list {

  padding: 0;
  li {
    border-radius: 5px;
    margin: 0 auto;
    width: 250px;
    height: 30px;
    font-size: 1.1em;
    a {
      display: block;
      text-align: center;
      padding: 0;
      padding-top: 5px;
      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }
  }

  #twitter{
    background-color: #55acee;
    a {
      color: white;
    }
  }
}

/***********************************/
/**** 　　　　js用　css            ***/
/***********************************/

/*
  投稿ページのjs用css
*/

.post-box {
  #img_field {
    font-size: 15px;
    border: solid 1px #EDBC6C;
    color: #666;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    width: 400px;
    height: 250px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.3s ease-out;

    i {
      font-size: 100px;
      color: #aaa;
      line-height: 250px;
      transition: 0.3s ease-out;
    }

    .add {
      display: none;
      font-size: 50px;
      position: absolute;
      top: -90px;
      right: 15px;
    }

    &:hover {
      background-color: #EDBC6C;
      transition: 0.3s ease-out;
      opacity: 0.9;
      i {
        transition: 0.3s ease-out;
        display: block;
        color: #fff;
      }
    }
  }
}

/* 
  編集ページ用
*/
// 変更で選択した画像をすぐに表示する
.edit-box {
  #img_field {}
}

/***    モーダルウィンドウ用　　　***/
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  
  .modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
  }
  
  .modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 600px;
    overflow: scroll;

    .image__content{
      text-align: center;
      margin-bottom: 10px;
      h1{
        padding-bottom: 10px;
        border-bottom: 1px solid $gray-medium-light;
      }

      img{
        padding-bottom: 3px;
      }
    }

    .reader-of-ui{
      width: 100%;
      .post-ui-icon{
        font-size: 40px;
        
        

        .post-like-icon{
          float:left;
          label {
            cursor: pointer;
          }

          .like{
            color:gray;
          }

          .unlike{
            color: red;
          }
        }

        .post-comment-icon{
          padding-left: 7px;
          float: left;
          cursor: pointer;
        }

        .post-delete-icon{
          float: right;
          a {
            color: gray;
            &:hover {
              color: red;
            }
          }
        }
      }

      .post-user-profile{
        width: 100%;  
        padding-top: 7px;
        border-top: 1px solid $gray-medium-light;
        margin-bottom: 7px;

        table{
          .post-user-profile-img{
            width: 20%;
            text-align: center;
            vertical-align: middle;
            
            img{
              width: 70px;
              height: 70px;
              object-fit: cover;
              border-radius: 50%;
            }
          }

          .post-user-name-and-follower{
            width: 100%;
            float: left;
            padding-top: 3px;
            padding-left: 15px;
            a {
              outline: none;
              color: black;
              cursor: pointer;
            }
            p{
              font-size: 5px;
            }
          }
        }
      }

      //　コメント機能
      .post__comment__ui{

        padding-top: 7px;
        border-top: 1px solid $gray-medium-light;
        
        .comment-form {
          width: 100%;
          margin-bottom: 7px;

          table{
            .input-comment{
              padding-left: 20px;
              .comment-textarea{
                border: none;
                border-bottom: 1px solid $gray-medium-light;
                width: 350px;
                height: 50px;
                resize: none;
                &:focus {
                  border-bottom: 1px solid black;
                  outline: none;
                }
              }
            }
        
            .post_comment_btn{
              input[type='submit']{
                width: 50px;
                height: 30px;
                color: white;
                background-color: rgb(1, 146, 146);
                border-radius: 20px;
                border: none;
              }
            }
          }
        }//comment-form

        .comment-list {
          width: 100%;
          border-top: double 2px $gray-medium-light;

          ul{
            padding: 0;
            width: 100%;

            .comment-user{
              width: 100%;
              height: auto;
              margin-top: 6px;
              border-top: 1px solid $gray-medium-light;
              padding-top: 10px;

              .name {
                padding: 7px 0 0 7px;
                a {
                  color: black;
                  cursor: pointer;
                }
              }

              .content {
                padding: 7px 0 0 12px;

              }

              .display-comment{
                .comment-edit-or-dalete-icon{
                  padding-top: 14px;
                  font-size: 14px;
                  a {
                    color: gray;
                    text-decoration: none;
                    cursor: pointer;
                  }
                  i {
                    padding-left: 8px;
                  }
                }
              }
              .edit-comment{
                .edit-comment-textarea{
                  border: none;
                  border-bottom: 1px solid $gray-medium-light;
                  width: 350px;
                  height: calc( 1.3em * 5 );
                  line-height: 1.3;
                  resize: none;
                  &:focus {
                    border-bottom: 1px solid black;
                    outline: none;
                  }
                }
                .update-or-cancel-btn {
                  div{
                    display: inline;
                  }
                }
              }
            }
          }
        }//comment-list

        .comment-user-img{
          text-align: center;
          vertical-align: top;
          
          img{
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
          }
        }//comment-user-img
      }// post__comment__ui
    }// reader-of-ui
  }// modal__content
}



@media(max-width: 670px) {
  .posts-list {
    ul {
      li {
        width: 45%;
      }
    }
  }
}